
@{
    ViewBag.Title = "Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>ALPEREN(Alperen) Bu Controller'ın Viewini yaptı.</h2>
</body>
</html>
